In [97]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [98]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,3,Atuona,PF,80.11,-9.8000,-139.0333,Villa Enata
1,5,Merauke,ID,77.47,-8.4667,140.3333,NaN
2,6,Narasannapeta,IN,79.41,18.4167,84.0500,G.lingaraju home
3,8,Lampang,TH,87.01,18.3333,99.5000,Mrs Luis Guest House
4,10,Santa Isabel Do Rio Negro,BR,82.78,-0.4139,-65.0192,Hotel GSA
5,15,Bambous Virieux,MU,78.80,-20.3428,57.7575,Casa Tia Villa
6,17,Alofi,NU,80.60,-19.0595,-169.9187,Taloa Heights
7,18,Morondava,MG,76.44,-20.2833,44.2833,La Case Bambou
8,26,San Patricio,US,84.20,28.0170,-97.5169,"Motel 6 Sinton, TX"
9,27,Butaritari,KI,82.51,3.0707,172.7902,Isles Sunset Lodge

In [99]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [100]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
vacation_df.set_index("City")

,City_ID,Country,Max Temp,Lat,Lng,Hotel Name
City,,,,,,
Atuona,3,PF,80.11,-9.8000,-139.0333,Villa Enata
Merauke,5,ID,77.47,-8.4667,140.3333,NaN
Narasannapeta,6,IN,79.41,18.4167,84.0500,G.lingaraju home
Lampang,8,TH,87.01,18.3333,99.5000,Mrs Luis Guest House
Santa Isabel Do Rio Negro,10,BR,82.78,-0.4139,-65.0192,Hotel GSA
...,...,...,...,...,...,...
Umm Bab,688,QA,86.00,25.2142,50.8072,mike beach
Cartagena Del Chaira,689,CO,83.53,1.3349,-74.8429,HOTEL LA ROCA
Tahta,690,EG,84.20,26.7693,31.5021,El Salam Hotel
Wanning,691,CN,76.89,18.8003,110.3967,Paradise Hotel
Carutapera,693,BR,78.04,-1.1950,-46.0200,Lidera

In [102]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
# student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"),"reading_score"]=np.nan

vacation_start = vacation_df.loc[(vacation_df["City"] == "San Antonio") & (vacation_df["Country"] == "US")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "San Antonio") & (vacation_df["Country"] == "US")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "San Patricio") & (vacation_df["Country"] == "US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "El Campo") & (vacation_df["Country"] == "US")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Houston") & (vacation_df["Country"] == "US")]

In [126]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {start}, Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}, End: {end}')

start

Start: (29.4241, -98.4936), Stop 1: (28.017, -97.5169), Stop 2: (29.1966, -96.2697), Stop 3: (29.7633, -95.3633), End: (29.4241, -98.4936)

(29.4241, -98.4936)

In [150]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route= gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode="DRIVING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [154]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,581,San Antonio,US,80.01,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
1,26,San Patricio,US,84.20,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,186,El Campo,US,77.00,29.1966,-96.2697,"Lonestar Inn, El Campo Texas"
3,484,Houston,US,75.99,29.7633,-95.3633,"Hotel ICON, Autograph Collection"

In [145]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [158]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))